/*
Theme Name:     Ancient Pasts Theme
Description:    
Author:         Tyler Grace (ADHC)
Template:       amadeus
Version:        0.3.0
Bitbucket Plugin URI: https://thgraceUA@bitbucket.org/alabamaDH/ancient-pasts.git
Bitbucket Branch: master

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

@font-face {
    font-family: themeFont;
    src: url(CapitalisTypOasis.ttf);
}

.content-area {
    margin: auto;
    float: none;
}


.entry-header {display: none;} 
#content { margin-top: 20px; }



.header-image {
    background-attachment: inherit !important;
    background-size: cover !important;
    background-position: inherit !important;
}


.site-title a {
    font-family: monospace;
}

.site-title a:hover {
    text-decoration: none;
}

.mobile-nav, .social-navigation {
    background-color: black !important;
}

.main-navigation {
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    background-color: black !important;
}

.main-navigation a:hover {
    color: #fff !important;
}

/*
.menu-item a, .main-navigation a {
    color: #fff !important;
}
*/

.slicknav_nav {
    background-color: #565152;
}

.slicknav_nav a {
    color: #fff !important;
}

.slicknav_nav a:hover {
    color: #a00000 !important;
}

a {
    color: #428bca;
}

.fa-chevron-up {
    color: #a00000;
}

.site-footer a {
    color: #428bca !important;
}

.site-footer a:hover {
    color: #428bca !important;
}

/*
.site-footer {
    border-top: #a00000 2px solid;
    border-bottom: #a00000 2px solid;
}
*/

.scroll-container a {
    color: #a00000 !important;
    border: 2px solid #a00000 !important;
    padding-top: 8px !important;
}

.scroll-container a:hover {
    background-color: #a00000 !important;
}

.scroll-container a:hover > .fa-chevron-up {
    color: #fff !important;
}

/*home page styles*/
#post-6 { padding: 0px 0px 0px 0px; }

.greek-container {border-right: solid 2px #e0e0e0; color: black; fill: black;}
.roman-container {color: black; fill: black;}

.greek-container:hover {color: #e0e0e0; fill: #e0e0e0;}
.greek-container:hover svg {fill: #e0e0e0 !important;}

.roman-container:hover {color: #e0e0e0; fill: #e0e0e0;}
.roman-container:hover svg {fill: #e0e0e0 !important;}

svg {
    width: 130px;
    display: block;
    margin: auto;
}